<!-- Navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">booksforbuffs</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="#/">Home</a></li>
          <li><a href="#/how-it-works">How it works</a></li>
          </ul>


          


        </div><!--/.nav-collapse -->
        </div>
      </nav>

<h2>About</h2>
<p>BooksForBuffs.com is a textbook price comparison website. We scour the internet to find the lowest prices on textbooks and then we bring the bargains to you! <strong>We are not a bookseller or retailer, nor do we have any involvement in the ordering, payment, shipping or return process</strong>; we just show you where to get the textbooks you need for the lowest possible price.</p>

<p>We pull pricing information from a variety of websites and retailers. For more information about our partners’ terms, privacy, shipping and return policies, please refer to Shipping, Returns, FAQ’s below.</p>

<h2>Shipping and returns</h2>
<p>BooksForBuffs.com has no involvement or oversight in ordering, payment, shipping or returns. We do not hold inventory, collect payment, or provide customer support for our partner websites. Your purchase and its terms and conditions are defined by the specific retailer you ordered your textbook from, and any questions regarding ordering or tracking should be directed at the specific retailer, not BooksForBuffs.com.</p>


<h2>Credits</h2>
<p>Icon courtesty of <a href="https://thenounproject.com/search/?q=textbook&i=671603" target="_blank">student by Wilson Joseph from the Noun Project</a>.

<h2>Additional information</h2>
<p>BooksForBuffs is not affiliated in any way with the University of Colorado Boulder. Any questions, comments, concerns, etc. not relating to book retailers should be directed to <a href="mailto:drew@actioncatlabs.com">drew@actioncatlabs.com</a>.</p>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>